odoo-test-helper
odoo-addon-base_edi @ git+https://github.com/OCA/edi.git@refs/pull/894/head#subdirectory=base_edi
odoo-addon-edi_oca @ git+https://github.com/OCA/edi-framework.git@refs/pull/47/head#subdirectory=edi_oca
